body{
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*  Copperplate, Copperplate Gothic Light, fantasy */

}

h1 {
  margin: 0 auto 0 auto;
  font-size:550%;
  color: #66BFBF;
  /*width: 10%;*/
  /*margin: 0 auto 0 auto; */
  font-family: 'Sacramento', cursive;
}


h2{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #11999E;

}

p{
  line-height: 2;
}

hr{
  border: dotted #a2d0c1 10px;
  border-bottom: none;
  margin: 10px auto;
  background-color: #eff7e1;
}

a{
  color: #11999E;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #111d5e;
}

/*div {
  background-color: #EAF6F6;
}*/

.intro{
  width: 30%;
  margin: auto;
}

.skills{
  background-color: #eff7e1;
}

.profile{
  background-color: #eff7e1;
}

.faceImage{
  height: 200px;

}

.programmer{

  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2;
}

.top-container{
  position: relative;
  background-color: #cdfffc;
}


.middle-container{
  margin: 10;
  background-color: #eff7e1;
}


.bottom-container{
  padding: 50px 0 20px;
  background-color:  #cdfffc;;
}


.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.catCodingImage{
  width: 25%;
  float: left;
  margin-right:30px;


}

/*
.coding-skill-description{
  clear: left;
}

.machine-learning-skill-description{
    clear: left;
}
*/

.machineLearningImage{
  width: 25%;
  float: right;
  margin-left:30px;

}


.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 250px;
  top:100px;


}

.bottom-cloud{
  position: absolute;
  left:150px;
  bottom: 300px
}

.contact-me{
  width: 40%;
  margin: auto;
  background-color: #eff7e1;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #11CDD4 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #22949F);
   background-image: -moz-linear-gradient(top, #30E3CB, #22949F);
   background-image: -ms-linear-gradient(top, #30E3CB, #22949F);
   background-image: -o-linear-gradient(top, #30E3CB, #22949F);
   background-image: -webkit-gradient(to bottom, #30E3CB, #22949F);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.copyright{
  color:  #11999E;
  font-size: 0.75rem;
  padding: 20px 0;

}
